//@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --section-width: 1530px;
  --container-width: calc(1370px - (16px * 2));
  --container-padding-block: 20px;
  --container-padding-inline: 8px;
  --transtion: 300ms ease;
  --tablet: 990px;
  --mobile: 768px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

//body {
//  font-family: "Manrope", sans-serif;
//  margin: 0;
//  background: antiquewhite;
//}

body:after {
  content: '';
  width: 100%;
  max-width: 1370px;
  height: 100%;
  border-right: 1px solid red;
  border-left: 1px solid red;
  opacity: .3;
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  pointer-events: none;
}

section.coral-custom-section {
  max-width: var(--section-width);
  margin: 0 auto;
  padding: var(--container-padding-block) 0;
  position: relative;

  .coral-custom-section__headline {
    width: 100%;
    margin: 0 auto 16px;

    h2 {
      color: var(--colorText, rgba(0, 0, 0, 0.85));
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.3;
      margin: 0;
    }
  }

  .coral-custom-section-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  h3 {
    color: rgba(0, 0, 0, 0.88);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    text-wrap: balance;
  }

  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5
  }
}

.coral-main-btn {
  border-radius: 64px;
  background: #0093d0;
  color: #fff !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  padding: 13px 24px;
  flex-shrink: 0;
  transition: all var(--transtion);
  border: 1px solid #0093d0;
  text-decoration: none !important;

  &:hover {
    background: #33c2ff;
    border: 1px solid #33c2ff;
  }

  &:active {
    background: #077dad;
    border: 1px solid #077dad;
  }
}

.coral-main-btn.white {
  background: #fff;
  color: #000 !important;
  border: 1px solid #fff;

  &:hover {
    color: #66d1ff !important;
    border-color: #66d1ff;
  }
}

.custom-slider-nav-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
  padding: 0;
  border: 1px solid #fff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transtion);;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;

  svg path {
    transition: stroke var(--transtion);
  }

  &:hover {
    border: 1px solid #66d1ff;

    svg path {
      stroke: #66d1ff;
    }
  }
}

.custom-slider-nav-btn.disabled {
  display: none;
}

.custom-slider-nav-btn.slider-bnt-prev {
  left: -74px;
}

.custom-slider-nav-btn.slider-bnt-next {
  right: -74px;
}

swiper-container {
  --bullet: 10px;
  width: 100%;
}

swiper-container::part(pagination) {
  position: relative;
  margin-top: 16px;
  bottom: unset !important;
  top: unset !important;
}

swiper-container::part(bullet) {
  width: var(--bullet);
  height: var(--bullet);
  background: #33C2FF;
}

swiper-container::part(bullet-active) {
  width: var(--bullet);
  height: var(--bullet);
  background: #077DAD;
}


.coral-erid-ligal {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #fff;
}

.lazy-image {
  visibility: hidden;
}

//div[id*="hotDealsWidget"],
//.news-slider-block {
//  .prev-arrow {
//    cursor: pointer;
//    width: 40px;
//    height: 40px;
//    border-radius: 40px;
//    background: #fff;
//    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
//    padding: 0;
//    border: 1px solid #fff;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    transition: border-color var(--transtion);
//
//    svg {
//      transform: scale(.7);
//    }
//
//    &:hover {
//      border: 1px solid #66d1ff;
//
//      svg path {
//        fill: #66d1ff;
//        transition: fill var(--transtion);
//      }
//    }
//  }
//
//  .next-arrow {
//    cursor: pointer;
//    width: 40px;
//    height: 40px;
//    border-radius: 40px;
//    background: #fff;
//    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
//    padding: 0;
//    border: 1px solid #fff;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    transition: border-color var(--transtion);
//
//    svg {
//      transform: scale(.7);
//    }
//
//    &:hover {
//      border: 1px solid #66d1ff;
//
//      svg path {
//        fill: #66d1ff;
//        transition: fill var(--transtion);
//      }
//    }
//  }
//}
