[data-hydration-on-demand]:has(#hotDealsWidget1a6f87810-e914-4335-a08f-005512d57f94) {
	position: relative;
	z-index: 2;

	> div {
		position: relative;
		z-index: 2;
	}

	&:after {
		content: '';
    width: 100vw;
    height: 100%;
    background: #fff7e6;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
	}

	.custom-carousel-arrows > div {
		cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 0;
    border: 1px solid #fff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transtion);

		> span {
			transform: scale(.56);

			> svg {
				flex-shrink: 0;

				path {
					transition: all var(--transtion);
				}
			}
		}
	}

	.custom-carousel-arrows > div:hover {
		border: 1px solid #66d1ff;

		> span {
			> svg path {
				fill: #66d1ff;
			}
		}
	}
}