section.rixos-elite-banner {
  padding-inline: 0
}

section.rixos-elite-banner .baners {
  display: grid;
  grid-template-columns:auto minmax(20%, 262px);
  gap: 24px;
  width: 100%;
  min-height: 360px
}

section.rixos-elite-banner .baners .big-one {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: block;
  background: url('https://b2ccdn.coral.ru/content/landing-pages/coral-family/banner_d.webp') center/cover no-repeat;
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center
}

section.rixos-elite-banner .baners .big-one .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 16px;
  gap: 24px;
  position: relative;
  z-index: 4
}

section.rixos-elite-banner .baners .big-one .content h3 {
  color: #fff
}

section.rixos-elite-banner .baners .big-one .logo {
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 3;
  width: 15%;
  height: 15%
}

section.rixos-elite-banner .baners .big-one .logo img {
  object-fit: contain
}

section.rixos-elite-banner .baners .big-one .content .content-slogan {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1
}

section.rixos-elite-banner .baners .big-one .content .content-title {
  max-width: 500px;
  height: 25px;
  object-fit: contain
}

section.rixos-elite-banner .baners .big-one .content .advister {
  font-size: 12px;
  color: #fff
}

section.rixos-elite-banner .baners .big-one img, section.rixos-elite-banner > article .contenu .baners .small-one .icon img {
  width: 100%;
  object-fit: cover;
  height: 100%
}

section.rixos-elite-banner .baners .big-one .vimeo-video-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden
}

section.rixos-elite-banner .baners .big-one .vimeo-video-box .vimeo-player {
  opacity: 0;
  transition: opacity 1s;
  display: block
}

section.rixos-elite-banner .baners .big-one .vimeo-video-box .vimeo-player.playback {
  opacity: 1
}

section.rixos-elite-banner .baners .big-one .vimeo-video-box iframe {
  position: absolute;
  width: 485%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

section.rixos-elite-banner .baners .big-one .vimeo-video-box .vimeo-player.mobile {
  display: none
}

section.rixos-elite-banner .baners .small-one {
  border-radius: var(--radius-borderRadiusXXL, 24px);
  background-image: url(https://b2ccdn.coral.ru/content/elite-service-mainpage-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 32px 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0
}

section.rixos-elite-banner .baners .small-one p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: #fff;
  z-index: 2;
  line-height: 22px
}

section.rixos-elite-banner .baners .small-one > * {
  position: relative;
  z-index: 2
}

section.rixos-elite-banner .baners .small-one:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000 0, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1
}

section.rixos-elite-banner .baners .small-one .logo-text {
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 2
}

section.rixos-elite-banner .baners .small-one .logo-text h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  color: #fff;
  z-index: 2;
  line-height: 32px
}

section.rixos-elite-banner .baners .small-one .icon {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
  padding: 10px
}

@media (max-width: 768px) {
  section.rixos-elite-banner {
    padding-inline: 16px
  }
  section.rixos-elite-banner .baners {
    display: flex;
    flex-direction: column
  }
  section.rixos-elite-banner > article .contenu .baners .big-one {
    background-size: cover;
    width: 100%;
    min-height: 270px
  }
  section.rixos-elite-banner > article .contenu .baners .small-one {
    width: 100%;
    min-height: 300px
  }
  section.rixos-elite-banner .baners .big-one .vimeo-video-box .vimeo-player {
    display: none
  }
  section.rixos-elite-banner .baners .big-one .vimeo-video-box .vimeo-player.mobile {
    display: block
  }
  section.rixos-elite-banner .baners .big-one .vimeo-video-box .mobile iframe {
    width: 465%
  }
}
