section.narrow-slider {
	padding-top: 40px;
	.coral-custom-section-wrapper {
		swiper-container {
			display: flex;
			align-items: stretch;
		}

		swiper-slide {
			height: auto;
			.content {
				border-radius: 20px;
				overflow: hidden;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				background: #fff;
				min-height: 273px;

				.text-content {
					padding: 32px 48px;
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 20px;
				}

				.visual {
					border-radius: 20px;
					overflow: hidden;
				}
			}
		}

		.custom-slider-nav-btn {
			margin-bottom: 22px;
		}

		.coral-main-btn {
			margin-top: auto;
		}
	}
}
