section.pay-attention {
	swiper-container {
		display: flex;
		align-items: stretch;
	}
	swiper-slide {
		height: auto;
		border-radius: 12px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.content-wrapper {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 12px;
			min-height: 186px;
			padding: 20px;

			h3 {
				font-size: 20px;
				color: rgba(0, 0, 0, 0.65)
			}

			.coral-main-btn {
				margin-top: auto;
			}
		}
	}

	.custom-slider-nav-btn[data-hidden] {
		display: none;
	}
}