.layout-container-limit:has(section.bronirovanie) {
	overflow-x: visible;
}

section.bronirovanie {
	background: url("https://b2ccdn.coral.ru/content/landing-pages/home/bronirovanie-bg.webp"), #F1F7FB;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	width: 100vw;
	max-width: unset;
	left: 50%;
  position: relative;
  transform: translateX(-50%);

	.coral-custom-section-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 12px;
  	margin: 0 auto;
  	position: relative;
		min-height: 516px;
		max-width: var(--container-widthout-slider);

		ul {
			margin: 0;
			list-style: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 12px;

			li {
				line-height: 1.5;
				font-size: 16px;
			}

			li:nth-child(1) button {
				background: transparent;
				border: none;
				font-size: inherit;
				text-decoration: underline;
				color: #0092D0;
			}
		}
	}
}